<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    xmlns:tool="http://schemas.android.com/apk/res-auto"
    package="com.example.albaalza">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.DIAL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk tools:overrideLibrary="com.yongbeom.aircalendar"/>

    <permission
        android:name="com.example.albaalza.locationapi.maps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.albaalza.locationapi.maps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".Server.ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/myicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AlbaAlzaTheme">
        <activity android:name=".P_Main.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".P_MyAlba.AddAlba" />
        <activity android:name=".P_FindPassword.FindPassword" />
        <activity android:name=".P_Login.Login" />
        <activity android:name=".P_Main.MainActivity" />
        <activity android:name=".P_MyAlba.AddAlbaDay" />
        <activity android:name=".P_MyAlba.ModifyAlbaDay" />
        <activity android:name=".P_SignUp.SignUp" />
        <activity android:name=".P_SignUp.SelectActor" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCa1FoIm08sYvD7nlLCkuD7wwyCCxHjYyA" />
        <activity android:name="com.yongbeom.aircalendar.AirCalendarDatePickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".P_Chat.ChattingRoomActivity" />
        <activity android:name=".P_Chat.ChatActivity" />
        <activity android:name=".P_Chat.MessageActivity" />
        <activity android:name=".P_Labor.Advice1Activity"></activity>

    </application>

</manifest>